@inherits LayoutComponentBase

<RadzenNotification />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 text-centered">           
            <h6>2022 - Etienne Ngandu Lawyers-Cases-Bills</h6>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
