@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
    <div class="alert alert-info" role="alert">
        <div class="text-center">
            <h1><strong>Lawyers, Cases and Bills (EF CORE)</strong></h1>
        </div>
    </div>
    <div class="text-center">
        <img src="~/Images/lawyer.jpg" class="rounded mx-auto d-block" alt="Responsive image" width="500" />        
    </div>
</div>


